<div class="container">
  <nav>
  <a routerLink="/new-book">Ajouter un livre</a>
</nav>

<router-outlet></router-outlet>
  <header>
    <h1>📚 {{ title }}</h1>
    <p>Application de gestion dynamique d’une bibliothèque</p>
  </header>

  <section class="intro">
    <p>
      Cette application permet de gérer un catalogue de livres,
      de visualiser leur disponibilité et d’organiser les emprunts.
    </p>
  </section>
  <app-catalogue></app-catalogue>

  <footer>
    <p>Projet Angular – Gestion de bibliothèque</p>
  </footer>
</div>
