.books h2 {
  margin-bottom: 1rem;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.book-card {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

.book-image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 0.8rem;
}

.status {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.available {
  background-color: #d4edda;
  color: #155724;
}

.unavailable {
  background-color: #f8d7da;
  color: #721c24;
}

footer {
  text-align: center;
  margin-top: 3rem;
  color: #777;
}

.search-bar {
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1em sans-serif;

  display: flex;
  align-items: center;
  justify-content: center
}

.recherche  {
  height: 2rem;
  width: 50%;
  border-radius: 5px;
  margin: 1rem;
  border: 2px solid #CCC;
}

.search {
  height: 2rem;
  width: 2rem;
  background-color: #CCC;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid #CCC;
}